In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\osos1\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: setuptools in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: numpy>=1.16.2 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\osos1\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\osos1\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\osos1\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\osos1\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: six in c:\users\osos1\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from mlxtend.frequent_patterns import apriori

In [3]:
dataset=[['drink','nuts','diaper'],
        ['drink','coffee','diaper'],
        ['drink','diaper','eggs'],
        ['nuts','eggs','milk'],
        ['nuts','coffee','diaper','eggs','milk']]

In [4]:
dataset

[['drink', 'nuts', 'diaper'],
 ['drink', 'coffee', 'diaper'],
 ['drink', 'diaper', 'eggs'],
 ['nuts', 'eggs', 'milk'],
 ['nuts', 'coffee', 'diaper', 'eggs', 'milk']]

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TranEncod=TransactionEncoder()
te_ary=TranEncod.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=TranEncod.columns_)

In [7]:
df

   coffee  diaper  drink   eggs   milk   nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

In [8]:
apriori(df,min_support=0.6)

   support itemsets
0      0.8      (1)
1      0.6      (2)
2      0.6      (3)
3      0.6      (5)
4      0.6   (1, 2)

In [9]:
apriori(df,min_support=0.6,use_colnames=True)

   support         itemsets
0      0.8         (diaper)
1      0.6          (drink)
2      0.6           (eggs)
3      0.6           (nuts)
4      0.6  (diaper, drink)

In [10]:
apriori(df,min_support=0.2,use_colnames=True)

    support                            itemsets
0       0.4                            (coffee)
1       0.8                            (diaper)
2       0.6                             (drink)
3       0.6                              (eggs)
4       0.4                              (milk)
5       0.6                              (nuts)
6       0.4                    (diaper, coffee)
7       0.2                     (drink, coffee)
8       0.2                      (coffee, eggs)
9       0.2                      (coffee, milk)
10      0.2                      (nuts, coffee)
11      0.6                     (diaper, drink)
12      0.4                      (diaper, eggs)
13      0.2                      (diaper, milk)
14      0.4                      (diaper, nuts)
15      0.2                       (drink, eggs)
16      0.2                       (drink, nuts)
17      0.4                        (milk, eggs)
18      0.4                        (nuts, eggs)
19      0.4                        (nuts, milk)
20      0.2             (diaper, drink, coffee)
21      0.2              (diaper, coffee, eggs)
22      0.2              (diaper, coffee, milk)
23      0.2              (diaper, nuts, coffee)
24      0.2                (milk, coffee, eggs)
25      0.2                (nuts, coffee, eggs)
26      0.2                (nuts, coffee, milk)
27      0.2               (diaper, drink, eggs)
28      0.2               (diaper, nuts, drink)
29      0.2                (diaper, milk, eggs)
30      0.2                (diaper, nuts, eggs)
31      0.2                (diaper, nuts, milk)
32      0.4                  (nuts, milk, eggs)
33      0.2        (diaper, milk, coffee, eggs)
34      0.2        (diaper, nuts, coffee, eggs)
35      0.2        (diaper, nuts, coffee, milk)
36      0.2          (nuts, milk, coffee, eggs)
37      0.2          (diaper, nuts, milk, eggs)
38      0.2  (nuts, milk, diaper, coffee, eggs)

In [14]:
frequent_itemsets=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets['length']=frequent_itemsets['itemsets'].apply(lambda x:len(x))
frequent_itemsets

    support                            itemsets  length
0       0.4                            (coffee)       1
1       0.8                            (diaper)       1
2       0.6                             (drink)       1
3       0.6                              (eggs)       1
4       0.4                              (milk)       1
5       0.6                              (nuts)       1
6       0.4                    (diaper, coffee)       2
7       0.2                     (drink, coffee)       2
8       0.2                      (coffee, eggs)       2
9       0.2                      (coffee, milk)       2
10      0.2                      (nuts, coffee)       2
11      0.6                     (diaper, drink)       2
12      0.4                      (diaper, eggs)       2
13      0.2                      (diaper, milk)       2
14      0.4                      (diaper, nuts)       2
15      0.2                       (drink, eggs)       2
16      0.2                       (drink, nuts)       2
17      0.4                        (milk, eggs)       2
18      0.4                        (nuts, eggs)       2
19      0.4                        (nuts, milk)       2
20      0.2             (diaper, drink, coffee)       3
21      0.2              (diaper, coffee, eggs)       3
22      0.2              (diaper, coffee, milk)       3
23      0.2              (diaper, nuts, coffee)       3
24      0.2                (milk, coffee, eggs)       3
25      0.2                (nuts, coffee, eggs)       3
26      0.2                (nuts, coffee, milk)       3
27      0.2               (diaper, drink, eggs)       3
28      0.2               (diaper, nuts, drink)       3
29      0.2                (diaper, milk, eggs)       3
30      0.2                (diaper, nuts, eggs)       3
31      0.2                (diaper, nuts, milk)       3
32      0.4                  (nuts, milk, eggs)       3
33      0.2        (diaper, milk, coffee, eggs)       4
34      0.2        (diaper, nuts, coffee, eggs)       4
35      0.2        (diaper, nuts, coffee, milk)       4
36      0.2          (nuts, milk, coffee, eggs)       4
37      0.2          (diaper, nuts, milk, eggs)       4
38      0.2  (nuts, milk, diaper, coffee, eggs)       5

In [38]:
frequent_itemsets[(frequent_itemsets['length']==2)&
                 (frequent_itemsets['support']>=0.5)]

    support         itemsets  length
11      0.6  (diaper, drink)       2

In [40]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'nuts','drink'} ]

    support       itemsets  length
16      0.2  (drink, nuts)       2

In [41]:
x=frequent_itemsets[ frequent_itemsets['itemsets'] == {'nuts'} ]
print(x['support'])

5    0.6
Name: support, dtype: float64

In [42]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(coffee),(diaper),0.4,0.8,0.4,1.00,1.250000,0.08,inf
1,(diaper),(drink),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
2,(drink),(diaper),0.6,0.8,0.6,1.00,1.250000,0.12,inf
3,(milk),(eggs),0.4,0.6,0.4,1.00,1.666667,0.16,inf
4,(milk),(nuts),0.4,0.6,0.4,1.00,1.666667,0.16,inf
...,...,...,...,...,...,...,...,...,...
67,"(diaper, coffee, eggs)","(nuts, milk)",0.2,0.4,0.2,1.00,2.500000,0.12,inf
68,"(nuts, coffee)","(diaper, milk, eggs)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
69,"(diaper, milk)","(nuts, coffee, eggs)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
70,"(coffee, milk)","(diaper, nuts, eggs)",0.2,0.2,0.2,1.00,5.000000,0.16,inf
71,"(coffee, eggs)","(diaper, nuts, milk)",0.2,0.2,0.2,1.00,5.000000,0.16,inf